<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Camera - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sb-admin/css/sb-admin-2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sb-admin/vendor/fontawesome-free/css/all.min.css') }}">

</head>

<body id="page-top">
    <div id="wrapper">
        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include 'topbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Live Wiew</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Live View</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body px-1 py-1">
                                    <div class="row">
                                        <img id="video_feed" class="img-fluid" style="width: 100%;"
                                            src="{{ url_for('video_feed') }}" alt="...">
                                        <!-- <video class="img-fluid" id="video-player" autoplay controls playsinline muted>Your
                                        browser does not support video</video> -->
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="p-1">
                                                            <div id="image-container-0"></div>
                                                        </th>
                                                        <th class="p-1">
                                                            <div id="image-container-1"></div>
                                                        </th>
                                                        <th class="p-1">
                                                            <div id="image-container-2"></div>
                                                        </th>
                                                        <th class="p-1">
                                                            <div id="image-container-3"></div>
                                                        </th>
                                                        <th class="p-1">
                                                            <div id="image-container-4"></div>
                                                        </th>
                                                        <th class="p-1">
                                                            <div id="image-container-5"></div>
                                                        </th>
                                                        <th class="p-1">
                                                            <div id="image-container-6"></div>
                                                        </th>
                                                        <th class="p-1">
                                                            <div id="image-container-7"></div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="last-table">
                                                    <td class="p-1">
                                                        <div style="font-size: 12px;" id="attr-container-0"></div>
                                                    </td>
                                                    <td class="p-1">
                                                        <div style="font-size: 12px;" id="attr-container-1"></div>
                                                    </td>
                                                    <td class="p-1">
                                                        <div style="font-size: 12px;" id="attr-container-2"></div>
                                                    </td>
                                                    <td class="p-1">
                                                        <div style="font-size: 12px;" id="attr-container-3"></div>
                                                    </td>
                                                    <td class="p-1">
                                                        <div style="font-size: 12px;" id="attr-container-4"></div>
                                                    </td>
                                                    <td class="p-1">
                                                        <div style="font-size: 12px;" id="attr-container-5"></div>
                                                    </td>
                                                    <td class="p-1">
                                                        <div style="font-size: 12px;" id="attr-container-6"></div>
                                                    </td>
                                                    <td class="p-1">
                                                        <div style="font-size: 12px;" id="attr-container-7"></div>
                                                    </td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Today Count</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- COUNTER Card -->
                                    <div class="col-auto mb-1">
                                        <div class="card border-left-success shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Female Child (FC)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-0">0
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="text-gray-800" id="persentage-0">0%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-1">
                                        <div class="card border-left-success shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Female Senior (FS)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-1">0
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="text-gray-800" id="persentage-1">0%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-1">
                                        <div class="card border-left-success shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Female Teen (FT)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-2">0
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="text-gray-800" id="persentage-2">0%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-1">
                                        <div class="card border-left-success shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Female Woman (FW)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-3">0
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="text-gray-800" id="persentage-3">0%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-1">
                                        <div class="card border-left-success shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Male Child (MC)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-4">0
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="text-gray-800" id="persentage-4">0%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-1">
                                        <div class="card border-left-success shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Male Man (MM)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-5">0
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="text-gray-800" id="persentage-5">0%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-1">
                                        <div class="card border-left-success shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Male Senior (MS)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-6">0
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="text-gray-800" id="persentage-5">0%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-1">
                                        <div class="card border-left-success shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Male Teen (MT)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-7">0
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="text-gray-800" id="persentage-5">0%</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-1">
                                        <div class="card border-left-primary shadow " style="height: 80px;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-border-left-primary text-uppercase mb-1">
                                                            TOTAL</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="class-all">0
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    {% include 'footer.html' %}


    <!-- <script src="{{ url_for('static', filename='sb-admin/vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sb-admin/js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='sb-admin/js/demo/chart-pie-demo.js') }}"></script> -->

    <!-- Bootstrap core JavaScript-->
    <script type='text/javascript' src="/static/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script type='text/javascript' src="/static/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type='text/javascript' src="/static/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script type='text/javascript' src="/static/sb-admin/js/sb-admin-2.min.js"></script>

    <!-- <script type='text/javascript' src='/static/webrtc.js'></script> -->

    <!-- <script type='text/javascript'>
        const play = () => {
            playStream(getWebsocketURL('output'), document.getElementById('video-player'));
        };

        window.onload = () => {
            play();
        }
    </script> -->

    <script src="{{ url_for('static', filename='core.js') }}" defer></script>

</body>

</html>